/* #Media Queries
================================================== */

@media (max-width: 550px) {
  :root {
    --font-size-base: var(--font-size-l);
  }

  #logo {
    background-size: 164px 164px;
    min-height: 164px;
    margin-top: -0em;
    margin-bottom: -1.2em;
  }

  #main_header {
    margin-bottom: calc(var(--font-size-base) * 2.8);
  }

  #article, .recent-articles, #hcard-Peter-Hellberg > div {
    padding-left: 0.38em;
    padding-right: 0.38em;
  }

  .container {
    padding: 0;
  }

  .main-title {
    font-size: calc(var(--font-size-base) * 1.8);
  }

  #byline {
    .photo {
      margin-bottom: 0;
      max-height: 192px;
      max-width: 192px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    h2 {
      padding: 0 1em;
    }
  }


  .hljs {
    font-size: 0.7em;
  }
}

@media (max-width: 650px) {
  #logo {
    background-size: 128px 128px;
    min-height: 118px;
  }

  .container {
    padding: 0;
  }

  #hcard-Peter-Hellberg .photo {
    max-width: 45%;
    margin-bottom: 0;
    max-height: 256px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .hljs {
    font-size: 0.7em;
  }

  iframe {
    margin-bottom: 0.2em;
  }
}


@media (max-width: 750px) {
  #article .side-gallery {
    flex-direction: column; 
    .side-wrapper {
      flex-grow: 1;
      flex-basis: auto;
      height: auto;
      img {
        height: auto;
      }
    }
  }
}

@media (min-width: 650px) {
  :root {
    --font-size-base: var(--font-size-s);
  }

  .hljs {
    font-size: 0.85em;
  }

  #logo {
    background-size: 128px 128px;
    min-height: 118px;
  }
}

@media (min-width: 750px) {
  :root {
    --font-size-base: var(--font-size-m);
  }

  #logo {
    background-size: 180px 180px;
    min-height: 165px;
  }
}

@media (min-width: 1000px) {
  :root {
    --font-size-base: var(--font-size-l);
  }

  .hljs {
    font-size: 0.9em;
  }

  #logo {
    background-size: 220px 220px;
    min-height: 200px;
  }

  #article, #hcard-Peter-Hellberg > div {
    padding-left: calc(var(--font-size-base) * 2.5);
    padding-right: calc(var(--font-size-base) * 2.5);
  }

  .recent-articles {
    padding-left: calc(var(--font-size-base) * 2.5);
    padding-right: calc(var(--font-size-base) * 0.5);
  }
}

@media (min-width: 1200px) {
  :root {
    --font-size-base: var(--font-size-xl);
  }

  .hljs {
    font-size: 0.85em;
  }
}
