a.follow-on-twitter, a.follow-on-twitter:visited {
  font-size: 1em;
  margin: 2em 0 1em 0;
  background-color: #b1e0f0;
  background-position: 10px center;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAUCAYAAACTQC2+AAABL0lEQVR42q3P222DMBSHcY/ACIzgERiBETICI3iDjsAELb2q92YEj+AN6iTN5fH0cxMkQ0ExCg8/6f9y9OkotTy0MqgJctSQiMNCRFTALmD+tvo6BDk8NFQCDQ8ZsYSDoDyF9sECAg8NdYaFJLCoUCr1uQ8MJFJBjdCQCerjRx/7oIT0WBRQPQaS5hgBofddkEFGOFyhQAYDSdFGQOht1zKQ+fRDr9vAwMJDZmK7oZdtUEJm1nRDzz8tB5lR1Q09bVoFZEZ5N/S4iWk4yIWWcQSEHtaxGjKD4n/ofh3L4SEXaKJAFLpb9Wl4CKbyyIZDt6shGSo4SCIP3Q3EocYPyWDgIQk8RiMgdOOLkxIGDWQCiygyFrr2wQIOMoFDdSYQh75jJWo4yACLGmV7kxr6Be/LBqxkiK4PAAAAAElFTkSuQmCC);
  text-align:center;
  display:block;

  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  o-border-radius:3px;

  border:1px solid rgba(56, 125, 160, 0.3);

  padding: 5px 0px 7px 0px;
  color:#387da0;
  text-shadow: rgba(255, 255, 255, 0.7) 0px 1px 0px;
}

a.follow-on-twitter:hover {
  background-color: #226284;
  color:#b1e0f0;
  text-decoration:none;
  text-shadow: rgba(0, 0, 0, 0.7) 0px -1px 0px;
}

