{{
  partial "header.html" .
}}    <div class="container">
      <div class="row">
        <header class="twelve columns" id="main_header">
          <a class="logo_link" href="/">
            <h2 id="logo">code7 <span class="font-normal">interactive</span></h2>
          </a>
        </header>
      </div>
      <div class="row">
        <div class="twelve columns hentry" id="article">
          <article>
            <h1 class="entry-title">{{.Title}}</h1>
            <h2><span class="entry-summary">{{.Params.summary}}</span></h2>
            <div class="article-content entry-content">{{ .Content }}</div>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns" id="byline">
          <div id="hcard-Peter-Hellberg" class="vcard byline row">
            <div class="nine columns omega">
              <h2>
                My name is
                <em><span class="fn n"><span class="given-name">Peter</span>
                <span class="family-name">Hellberg</span></span></em> and I’m a
                <span class="role">Systems Developer</span> in
                <span class="adr"><span class="region">Stockholm</span>, <span class="country-name">Sweden</span>.</span>
              </h2>
              <div class="hidden"><a class="org url" href="https://c7.se/">Code7 Interactive</a></div>
            </div>
            <div class="three columns alpha">
              <div class="photo-container">
                <a href="/"><img src="//c7.se/images/peter_hellberg.jpg" alt="Peter Hellberg" class="photo"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns add-bottom">
          <aside class="recent-articles">
            <h2>Articles</h2>
            {{- $currentTitle := .Title -}}
            {{- range first 6 (where .Site.Pages "Type" "article") }}
            {{- if ne $currentTitle .Title }}
            <div class="article add-bottom">
              <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
              <div class="article-summary">
                {{ .Params.summary }}
              </div>
            </div>
            {{- end -}}
            {{- end }}
          </aside>
        </div>
      </div>
    </div>
    <script src="/js/highlight.min.js"></script>
    <script src="/js/zig.min.js"></script>
    <script src="/js/typ.min.js"></script>
    <script>
      if(navigator.userAgent.toLowerCase().indexOf('chrome') > -1) {
        hljs.configure({ tabReplace: '  ' });
      }
      hljs.highlightAll();
    </script>
{{ partial "footer.html" . }}
