<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{.Title}} - {{.Site.Title}}</title>
    {{ if isset .Params "summary" }}<meta name="description" content="{{.Params.summary}}">{{ end }}
    <meta name="author" content="Peter Hellberg">
    <meta name="keywords" content="{{.Params.metakeywords}}">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:url" content="{{.Permalink}}" />
    <meta property="og:image" content="http://c7.se/images/logo_square.png" />
    {{ if isset .Params "summary" }}<meta property="og:description" content="{{.Params.summary}}" />{{ end }}
    <meta property="article:published_time" content="{{.Date}}" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="author" type="text/plain" href="http://c7.se/humans.txt" />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
    <link rel="canonical" href="{{.Permalink}}">
    <link rel="alternate" type="application/rss+xml"  href="http://c7.se/article/index.xml" title="RSS Feed">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://use.typekit.com/zwu6nuh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/highlight.css">
  </head>
<body lang="en">
