{{
  partial "header.html" .
}}    <div class="container">
      <div class="row">
        <header class="twelve columns" id="main_header">
          <a class="logo_link" href="/">
            <h2 id="logo">code7 <span class="font-normal">interactive</span></h2>
          </a>
        </header>
      </div>
      <div class="row">
        <div class="twelve columns" id="article">
          <article id="page-not-found">
            <h1 class="huge">404 - Page not found</h1>
          </article>
        </div>
      </div>
    </div>
  </div>
{{ partial "footer.html" . }}
