---
layout: default
---
<div class="row">
  <div class="eleven columns" id="article">
    <article>
      <h1 class='article-title'>{{ page.title }}</h1>
      <section class='article-content'>
        {{ content }}
      </section>
    </article>
  </div>
  {% if site.posts.size > 1 %}
  <div class="five columns">
    <div class="recent-articles">
      <h2>Other articles</h2>
      <ul>
        {% for article in site.posts limit:15 %}
          {% if article.title != page.title %}
          <li>
            <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
</div>

<div id="hcard-Peter-Hellberg" class="vcard row">
  <div class="four columns">
    <div class="photo-container">
      <img src="http://c7.se/images/peter_hellberg.png" alt="Peter Hellberg" class="photo" />
    </div>
  </div>
  <div class="twelve columns">
    <h1 class="main-title">
      My name is
      <span class="fn n"><span class="given-name">Peter</span>
      <span class="family-name">Hellberg</span></span> and I’m a
      <span class="role">Ruby Developer</span> in
      <span class="adr"><span class="region">Stockholm</span>, <span class="country-name">Sweden</span>.</span>
    </h1>
    <div class="hidden"><a class="org url" href="http://c7.se/">Code7 Interactive</a></div>
  </div>
</div>

<a href="http://twitter.com/peterhellberg" class="follow-on-twitter">Follow me on Twitter</a>
